:root {
	--stardust-pumpkin: #aa3d28;
	--stardust-gold: #846900;
	--stardust-lime: #188925;
	--stardust-mint: #00936e;
	--stardust-sky: #007fa7;
	--stardust-bilberry: #5954ba;
	--stardust-lilac: #942a9e;
	--stardust-raspberry: #ad1b68;
	--stardust-midnight-pumpkin: #370900;
	--stardust-midnight-gold: #281d00;
	--stardust-midnight-lime: #002a00;
	--stardust-midnight-mint: #002d1f;
	--stardust-midnight-sky: #002635;
	--stardust-midnight-bilberry: #15153c;
	--stardust-midnight-lilac: #2e0231;
	--stardust-midnight-raspberry: #38001c;
	--stardust-dark-pumpkin: #600000;
	--stardust-dark-gold: #473000;
	--stardust-dark-lime: #004900;
	--stardust-dark-mint: #005036;
	--stardust-dark-sky: #004160;
	--stardust-dark-bilberry: #271c6e;
	--stardust-dark-lilac: #510059;
	--stardust-dark-raspberry: #620031;
	--stardust-vivid-pumpkin: #df3e25;
	--stardust-vivid-gold: #c29000;
	--stardust-vivid-lime: #00b023;
	--stardust-vivid-mint: #00bd8c;
	--stardust-vivid-sky: #00a2da;
	--stardust-vivid-bilberry: #7164f5;
	--stardust-vivid-lilac: #bf20cd;
	--stardust-vivid-raspberry: #dc1884;
	--stardust-pastel-pumpkin: #dec2bb;
	--stardust-pastel-gold: #d0cbb5;
	--stardust-pastel-lime: #bdd4bc;
	--stardust-pastel-mint: #b0d6cb;
	--stardust-pastel-sky: #b3d1d9;
	--stardust-pastel-bilberry: #c4c8df;
	--stardust-pastel-lilac: #d6c0d8;
	--stardust-pastel-raspberry: #e0bdc9;
	--stardust-base00: #5b777f;
	--stardust-base03: #002735;
	--stardust-base02: #003341;
	--stardust-base01: #4d6b74;
	--stardust-base0: #7e8d8e;
	--stardust-base1: #8a9a9b;
	--stardust-base2: #f5eddc;
	--stardust-base3: #fff7e6;
	--stardust-medium-grey: #727070;
	--stardust-black: #000000;
	--stardust-dark-grey: #383636;
	--stardust-light-grey: #b4b0b0;
	--stardust-white: #ffffff;
}
