:root {
	--stardust-pumpkin: #be4000;
	--stardust-gold: #9f6c00;
	--stardust-lime: #2b8a11;
	--stardust-mint: #009771;
	--stardust-sky: #0086be;
	--stardust-bilberry: #5957f1;
	--stardust-lilac: #a734cd;
	--stardust-raspberry: #c2286e;
	--stardust-midnight-pumpkin: #381102;
	--stardust-midnight-gold: #2d1e00;
	--stardust-midnight-lime: #0d2706;
	--stardust-midnight-mint: #002b1f;
	--stardust-midnight-sky: #002535;
	--stardust-midnight-bilberry: #171a41;
	--stardust-midnight-lilac: #2f1139;
	--stardust-midnight-raspberry: #380d1f;
	--stardust-dark-pumpkin: #680f00;
	--stardust-dark-gold: #543100;
	--stardust-dark-lime: #004700;
	--stardust-dark-mint: #005237;
	--stardust-dark-sky: #004673;
	--stardust-dark-bilberry: #2e14a2;
	--stardust-dark-lilac: #5f007f;
	--stardust-dark-raspberry: #6d0035;
	--stardust-vivid-pumpkin: #ff5d00;
	--stardust-vivid-gold: #ffb900;
	--stardust-vivid-lime: #00e000;
	--stardust-vivid-mint: #00fdb1;
	--stardust-vivid-sky: #00ddff;
	--stardust-vivid-bilberry: #6c88ff;
	--stardust-vivid-lilac: #df41ff;
	--stardust-vivid-raspberry: #ff00a8;
	--stardust-pastel-pumpkin: #ffd7a3;
	--stardust-pastel-gold: #fff481;
	--stardust-pastel-lime: #caffaf;
	--stardust-pastel-mint: #93fff7;
	--stardust-pastel-sky: #abffff;
	--stardust-pastel-bilberry: #e9f4ff;
	--stardust-pastel-lilac: #ffdcff;
	--stardust-pastel-raspberry: #ffcef5;
	--stardust-base00: #5b777f;
	--stardust-base03: #002735;
	--stardust-base02: #003341;
	--stardust-base01: #4d6b74;
	--stardust-base0: #7e8d8e;
	--stardust-base1: #8a9a9b;
	--stardust-base2: #f5eddc;
	--stardust-base3: #fff7e6;
	--stardust-medium-grey: #727070;
	--stardust-black: #000000;
	--stardust-dark-grey: #383636;
	--stardust-light-grey: #b4b0b0;
	--stardust-white: #ffffff;
}
