:root {
	--stardust-pumpkin: #b42a13;
	--stardust-gold: #8b6600;
	--stardust-lime: #008e00;
	--stardust-mint: #00996f;
	--stardust-sky: #0081b3;
	--stardust-bilberry: #5849cb;
	--stardust-lilac: #9b00a8;
	--stardust-raspberry: #b60067;
	--stardust-midnight-pumpkin: #3a0200;
	--stardust-midnight-gold: #2a1b00;
	--stardust-midnight-lime: #002c00;
	--stardust-midnight-mint: #00301f;
	--stardust-midnight-sky: #002739;
	--stardust-midnight-bilberry: #141142;
	--stardust-midnight-lilac: #310035;
	--stardust-midnight-raspberry: #3b001c;
	--stardust-dark-pumpkin: #670000;
	--stardust-dark-gold: #4c2d00;
	--stardust-dark-lime: #004c00;
	--stardust-dark-mint: #005536;
	--stardust-dark-sky: #004269;
	--stardust-dark-bilberry: #27097a;
	--stardust-dark-lilac: #560060;
	--stardust-dark-raspberry: #680030;
	--stardust-vivid-pumpkin: #ff5236;
	--stardust-vivid-gold: #eeae00;
	--stardust-vivid-lime: #00da00;
	--stardust-vivid-mint: #00ecac;
	--stardust-vivid-sky: #00c6ff;
	--stardust-vivid-bilberry: #8b69ff;
	--stardust-vivid-lilac: #ef00ff;
	--stardust-vivid-raspberry: #ff00a0;
	--stardust-pastel-pumpkin: #ffd3c5;
	--stardust-pastel-gold: #f0e5b8;
	--stardust-pastel-lime: #c9f5c7;
	--stardust-pastel-mint: #adf9e5;
	--stardust-pastel-sky: #b5f0ff;
	--stardust-pastel-bilberry: #d8deff;
	--stardust-pastel-lilac: #facefd;
	--stardust-pastel-raspberry: #ffcae1;
	--stardust-base00: #5b777f;
	--stardust-base03: #002735;
	--stardust-base02: #003341;
	--stardust-base01: #4d6b74;
	--stardust-base0: #7e8d8e;
	--stardust-base1: #8a9a9b;
	--stardust-base2: #f5eddc;
	--stardust-base3: #fff7e6;
	--stardust-medium-grey: #727070;
	--stardust-black: #000000;
	--stardust-dark-grey: #383636;
	--stardust-light-grey: #b4b0b0;
	--stardust-white: #ffffff;
}
